USE [LatihanDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fc_masa_kerja_karyawan]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fc_masa_kerja_karyawan](@tgl1 datetime, @tgl2 datetime)
returns int
As
Begin
	declare @masa_kerja int;
	set @masa_kerja=DATEDIFF (year, @tgl1, @tgl2);
	return @masa_kerja;
End
GO
/****** Object:  Table [dbo].[Karyawan]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karyawan](
	[nip] [char](6) NOT NULL,
	[nama_pegawai] [varchar](100) NULL,
	[gender] [char](1) NULL,
	[tgllahir] [datetime] NULL,
	[golongan] [varchar](4) NULL,
	[gaji] [decimal](20, 3) NULL,
	[alamat] [varchar](max) NULL,
	[telepon] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[tglgabung] [date] NULL,
	[kdjabatan] [int] NULL,
	[isactive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fc_pegawai]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fc_pegawai]()
returns table 
As
	return (select nip, nama_pegawai, alamat, telepon from Karyawan);
GO
/****** Object:  View [dbo].[vw_karyawan]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_karyawan]
As
select nip As 'NIP', nama_pegawai As 'NAMA KARYAWAN', golongan As 'GOLONGAN', gaji As 'GAJI' from Karyawan
GO
/****** Object:  Table [dbo].[Jabatan]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jabatan](
	[kode_jabatan] [int] IDENTITY(1,1) NOT NULL,
	[nama_jabatan] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[kode_jabatan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pegawai]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pegawai](
	[nip] [char](6) NOT NULL,
	[nama_pegawai] [varchar](50) NULL,
	[bos] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temperatur]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temperatur](
	[i] [float] NOT NULL,
	[Date] [datetime] NULL,
	[Time] [datetime] NULL,
	[Radiasi] [float] NULL,
	[Temperatur] [float] NULL,
	[Code] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemperaturTemp]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemperaturTemp](
	[i] [float] NOT NULL,
	[Date] [datetime] NULL,
	[Time] [datetime] NULL,
	[Radiasi] [float] NULL,
	[Temperatur] [float] NULL,
	[Code] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/7/2023 8:44:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[UserType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jabatan] ON 

INSERT [dbo].[Jabatan] ([kode_jabatan], [nama_jabatan]) VALUES (1, N'Manager')
INSERT [dbo].[Jabatan] ([kode_jabatan], [nama_jabatan]) VALUES (2, N'Accounting')
INSERT [dbo].[Jabatan] ([kode_jabatan], [nama_jabatan]) VALUES (3, N'Marketing')
SET IDENTITY_INSERT [dbo].[Jabatan] OFF
GO
INSERT [dbo].[Karyawan] ([nip], [nama_pegawai], [gender], [tgllahir], [golongan], [gaji], [alamat], [telepon], [email], [tglgabung], [kdjabatan], [isactive]) VALUES (N'YMH001', N'Heny', N'P', CAST(N'1998-03-12T00:00:00.000' AS DateTime), N'IVB', CAST(15000000.000 AS Decimal(20, 3)), N'Pulogadung', N'0217458870', N'heny@yahoo.co.id', CAST(N'2022-02-18' AS Date), 1, 1)
INSERT [dbo].[Karyawan] ([nip], [nama_pegawai], [gender], [tgllahir], [golongan], [gaji], [alamat], [telepon], [email], [tglgabung], [kdjabatan], [isactive]) VALUES (N'YMH002', N'Bambang', N'L', CAST(N'1990-05-10T00:00:00.000' AS DateTime), N'IIIA', CAST(6500000.000 AS Decimal(20, 3)), N'Senen', N'021350876', N'bambang@gmail.com', CAST(N'2021-07-10' AS Date), 3, 1)
INSERT [dbo].[Karyawan] ([nip], [nama_pegawai], [gender], [tgllahir], [golongan], [gaji], [alamat], [telepon], [email], [tglgabung], [kdjabatan], [isactive]) VALUES (N'YMH003', N'Rita', N'P', CAST(N'2000-01-12T00:00:00.000' AS DateTime), N'IIIB', CAST(7000000.000 AS Decimal(20, 3)), N'Kelapa Gading', N'0214568075', N'rita@gmail.com', CAST(N'2022-10-08' AS Date), 4, 1)
GO
INSERT [dbo].[pegawai] ([nip], [nama_pegawai], [bos]) VALUES (N'YMH001', N'Heny', N'YMH001')
INSERT [dbo].[pegawai] ([nip], [nama_pegawai], [bos]) VALUES (N'YMH002', N'Bambang', N'YMH001')
INSERT [dbo].[pegawai] ([nip], [nama_pegawai], [bos]) VALUES (N'YMH003', N'Rita', N'YMH001')
GO
INSERT [dbo].[Temperatur] ([i], [Date], [Time], [Radiasi], [Temperatur], [Code]) VALUES (0, CAST(N'2023-10-06T00:00:00.000' AS DateTime), CAST(N'1900-01-01T07:25:00.000' AS DateTime), 282.8, 35.4, 6101)
INSERT [dbo].[Temperatur] ([i], [Date], [Time], [Radiasi], [Temperatur], [Code]) VALUES (1, CAST(N'2023-10-06T00:00:00.000' AS DateTime), CAST(N'1900-01-01T07:26:00.000' AS DateTime), 286.9, 35.1, 6102)
INSERT [dbo].[Temperatur] ([i], [Date], [Time], [Radiasi], [Temperatur], [Code]) VALUES (2, CAST(N'2023-10-06T00:00:00.000' AS DateTime), CAST(N'1900-01-01T07:27:00.000' AS DateTime), 292.5, 35.5, 6103)
GO
INSERT [dbo].[TemperaturTemp] ([i], [Date], [Time], [Radiasi], [Temperatur], [Code]) VALUES (624, CAST(N'2023-09-25T00:00:00.000' AS DateTime), CAST(N'1900-01-01T06:00:00.000' AS DateTime), 0.7, 31.7, 25715)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [IsActive], [UserType]) VALUES (1, N'Admin', N'admin123', 1, N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Karyawan] ADD  DEFAULT ('L') FOR [gender]
GO
ALTER TABLE [dbo].[Karyawan]  WITH CHECK ADD  CONSTRAINT [FK_KdJabatan_Karyawan] FOREIGN KEY([kdjabatan])
REFERENCES [dbo].[Jabatan] ([kode_jabatan])
GO
ALTER TABLE [dbo].[Karyawan] CHECK CONSTRAINT [FK_KdJabatan_Karyawan]
GO
/****** Object:  StoredProcedure [dbo].[SP_Add_User]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Add_User] 
--@UserID int,
@UserName varchar(50),      
@Password varchar(8),     
--@IsActive bit,
@UserType datetime 
--@OperationType int    
As      
Begin      
 insert into Users (UserName, Password, IsActive, UserType) values    
 (      
	@UserName,       
	@Password,      
	1,
	@UserType   
 );      
End;  

select * from Users
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUser]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddUser] 
--@UserID int,
@UserName varchar(50),      
@Password varchar(8),     
--@IsActive bit,
@UserType datetime, 
@OperationType int    
As      
Begin      
 insert into Users (UserName, Password, IsActive, UserType) values    
 (      
	@UserName,       
	@Password,      
	1,
	@UserType   
 );      
End;  
GO
/****** Object:  StoredProcedure [dbo].[sp_baca_karyawan]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_baca_karyawan]  
As  
Begin  
 select nip As 'Nip', nama_pegawai As 'Nama', tgllahir As 'Tanggal Lahir',   
 golongan As 'Golongan', gaji As 'Gaji', email As 'Email'  
 from Karyawan order by nip asc;  
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_baca_karyawan3]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[sp_baca_karyawan3]
@gol varchar(4)
As
Begin
	select nip, nama_pegawai, gender, golongan, gaji, email, tglgabung, kdjabatan from karyawan 
	where golongan= @gol;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_baca_karyawan4]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_baca_karyawan4]
As
Begin
	declare 
	@gol varchar(4);
	set @gol='IVC';
	select * from Karyawan where golongan=@gol;
End
GO
/****** Object:  StoredProcedure [dbo].[sp_baca_karyawan5]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_baca_karyawan5]
As
Begin
	declare 
	@gol varchar(4);
	set @gol='IIIA';

	select K.nip, K.nama_pegawai, K.alamat, K.email, K.golongan, K.gaji, J.nama_jabatan
	from Karyawan K 
	inner join Jabatan J
	on K.kdjabatan=J.Kode_Jabatan
	where golongan=@gol order by K.nip asc;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_DeleteUser]
@UserID int,
@OperationType int
As
Begin 
	update Users set IsActive=0 where UserID=@UserID;
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLogin]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_GetLogin]
@UserName varchar(100),
@Password varchar(100),
@OperationType int
As
Begin
	select * from Users where
	UserName=@UserName and Password=@Password;
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTemperatur]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetTemperatur]  
@Tanggal date,  
@OperationType int  
As  
Begin  
 select --FORMAT(Date, 'yyyy-MM-dd') As Date,   
 Convert(char(5), Time, 108) As Time, Radiasi As Radiasi,
 Round(Temperatur,2) As Temperatur  
 from Temperatur where i is not null and Radiasi is not null and Date=@Tanggal;  
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserID]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_GetUserID]     
As     
Begin         
declare     
@result int,    
@Id int    
select @result=max(UserID) from Users;    
if @result is null    
begin    
   set @result=1;    
   --print @result;    
end    
else    
 select max(UserID)+1 from Users;     
End 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsers]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetUsers]  
@OperationType int  
As  
Begin  
 select UserID, UserName, Password, UserType,   
 Case IsActive  
 When 0 Then 'Non Active'  
 Else 'Active'   
 End 'IsActive'  
 from Users order by UserID Asc;  
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_hapus_data_karyawan]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_hapus_data_karyawan]
@nip char(6)
As
Begin
	delete from Karyawan where nip=@nip;
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_ImportTemperature]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ImportTemperature]
@I float,
@Date datetime,
@Time datetime,
@Radiasi float,
@Temperatur float,
@Code float
As
Begin
    declare 
	@Tanggal date,
	@count int;

    delete from TemperaturTemp;	
	insert into TemperaturTemp (i, Date, Time, Radiasi, Temperatur, Code) 
	values(@I, @Date, @Time, @Radiasi, @Temperatur, @Code); 

	BEGIN TRANSACTION Temperatur
	insert into Temperatur (i, Date, Time, Radiasi, Temperatur, Code)
	select i, Date, Time, Radiasi, Temperatur, Code
	from TemperaturTemp where Code NOT IN(SELECT Code From Temperatur);	

	select @Tanggal= Date from TemperaturTemp;
	select @count=count(*) from Temperatur where Date=@Tanggal;
	if @count=0
	begin
		ROLLBACK TRANSACTION Temperatur;
		RETURN;
	end
	else
	   COMMIT TRANSACTION Temperatur;	
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_karyawan]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insert_karyawan]
@nip char(6),
@nama_pegawai varchar(50), 
@gender char(1), 
@tgllahir  datetime, 
@gol varchar(4), 
@gaji decimal(20,3), 
@alamat varchar(Max), 
@telepon varchar(50), 
@email varchar(100),
@tglgabung date,
@kodejabatan int, 
@isactive bit
As
Begin
	insert into Karyawan values(@nip,@nama_pegawai, @gender, @tgllahir, @gol, 
	@gaji, @alamat, @telepon, @email, @tglgabung, @kodejabatan, @isactive);

	--select top  * from Karyawan order by nip desc;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUser]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_InsertUser]
@UserName varchar(100),
@Password varchar(8),
@OperationType int
As
Begin
	insert into Users values(@UserName, @Password, 1, 'Staff')
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUser2]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_InsertUser2]
@UserName varchar(100),
@Password varchar(8),
@IsActive bit,
@UserType varchar(50),
@OperationType int
As
Begin
	insert into Users (UserName, Password, IsActive, UserType) values(@UserName, @Password, @IsActive, @UserType)
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_karyawan]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_update_karyawan]
@nip char(6),
@gol varchar(4),
@gaji decimal(20,3),
@email varchar(100)
As 
Begin
	update Karyawan set 
	golongan=@gol,
	gaji=@gaji,
	email=@email 
	where nip=@nip
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 11/7/2023 8:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UpdateUser]
@UserID int,
@UserName varchar(100),
@Password varchar(8),
@UserType varchar(50),
@IsActive bit,
@OperationTYpe int
As 
Begin
	update Users set 
	UserName=@UserName,
	Password=@Password,
	UserType=@UserType,
	IsActive=@IsActive
	where UserID=@UserID
End;
GO
